.chord-container {
  background-color: #c4c4c4;

  div {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;

    height: 80px;
    div {
      width: 30%;
      input {
        width: 100%;
        border-style: ridge;
        outline: none;
        border-bottom: none;
        cursor: pointer;
      }
      input:active {
        transform: translateY(2px);
      }
    }
    select {
      width: 60%;
      height: 80%;
      border-style: inset;
      border-width: 2px;
      border-bottom: none;
      outline: none;
      scroll-snap-type: y mandatory;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */

      option {
        height: 25%;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        text-align: center;
      }
    }
    select::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
