.running-text-container {
  width: 100%;
  height: 100px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  .running-text-wrapper {
    background-color: red;
    overflow-x: hidden;
    width: 400px;
    p {
      width: 100%;
      text-align: center;
      display: inline-block;
      animation: infinite-running 10s linear infinite;
    }
  }
}
@keyframes infinite-running {
  0% {
    margin-left: -400px;
  }

  100% {
    margin-left: 400px;
  }
}
